.icon-button {
    padding: 20px;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;

    display: flex;
}

.icon-button__svg {
    opacity: .13;
    transition: opacity .5s ease-in;
    cursor: pointer;
}

.icon-button__svg:hover {
    opacity: .44;
}