.cards {
    max-width: 936px;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
}

@media screen and (max-width: 1025px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:641px) {
     .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:321px) {
     .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}